<script>
var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?c154d502f02b12a996c34a02281a3bff";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<script  src="http://js.sohu.com/pv.js"></script>
<script language="javascript" src="http://js.sohu.com/wrating0820.js"></script>
<script language="javascript">
var  _wratingId = null;
try{
_wratingId = _getAcc();
}catch(e){}
if(_wratingId !=null){
document.write('<scr'+'ipt type="text/javascript" src="http://sohu.wrating.com/a1.js"></scr'+'ipt>');
}
</script>
<script>
if(_wratingId !=null){
document.write('<scr'+'ipt type="text/javascript">');
document.write('var vjAcc="'+_wratingId+'";');
document.write('var wrUrl="http://sohu.wrating.com/";');
document.write('try{vjTrack();}catch(e){}');
document.write('</scr'+'ipt>');
}
</script>
